<?xml	version="1.0"?>
<config	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--event edit type custom option image product-->
    <event name="catalog_product_save_before">
        <observer name="save_image" instance="Magenest\Booking\Observer\SaveImage"/>
    </event>
</config>